<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>book_home_url</key>
		<string>http://m.bxwx8.org/</string>
		<key>book_search_url</key>
		<string></string>
		<key>book_about_dic</key>
		<dict>
			<key>book_about_title</key>
			<string></string>
			<key>book_about_date</key>
			<string></string>
			<key>book_about_image</key>
			<string></string>
			<key>book_about_author</key>
			<string></string>
			<key>book_about_state</key>
			<string></string>
			<key>book_type</key>
			<string></string>
		</dict>
		<key>book_pages_url</key>
		<string>http://www.bxwx8.org/b/58/58148/index.html</string>
		<key>book_pages_path</key>
		<string>/html/body/div[7]/div</string>
		<key>book_pages</key>
		<array>
			<dict>
				<key>book_page_title</key>
				<string>dl/dd[2]/a</string>
				<key>book_page_url</key>
				<string>href</string>
				<key>book_content</key>
				<string>/html/body/div[7]</string>
				<key>book_content_url</key>
				<string></string>
				<key>book_content_list</key>
				<string>/html/body/div[7]</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>book_home_url</key>
		<string>http://m.bxwx8.org/</string>
		<key>book_search_url</key>
		<string></string>
		<key>book_about_dic</key>
		<dict>
			<key>book_about_title</key>
			<string></string>
			<key>book_about_date</key>
			<string></string>
			<key>book_about_image</key>
			<string></string>
			<key>book_about_author</key>
			<string></string>
			<key>book_about_state</key>
			<string></string>
			<key>book_type</key>
			<string></string>
		</dict>
		<key>book_pages_url</key>
		<string>http://www.bxwx8.org/b/58/58148/index.html</string>
		<key>book_pages_path</key>
		<string>/html/body/div[7]/div</string>
		<key>book_pages</key>
		<array>
			<dict>
				<key>book_page_title</key>
				<string>dl/dd[2]/a</string>
				<key>book_page_url</key>
				<string>href</string>
				<key>book_content</key>
				<string>/html/body/div[7]</string>
				<key>book_content_url</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
